<section class="advantages">
    <ul class="advantages-list">
        <li class="advantages-item">
            <img src="images/calendar.png" alt="calendar">
            <h3>Свободный график</h3>
            <p>У вас есть возможность работать столько, сколько вы захотите. Составляйте график, выбирая удобные для вас дни.</p>
        </li>
        <li class="advantages-item">
            <img src="images/mail.png" alt="mail">
            <h3>Еженедельные выплаты</h3>
            <p>Выплачиваем регулярно раз в неделю ваш заработок. Никаких задержек, средства отправляются анонимно в валюте BitCoin.</p>
        </li>
        <li class="advantages-item">
            <img src="images/security.png" alt="security">
            <h3>Гарантия безопасности</h3>
            <p>Действуя аккуратно, соблюдая все наши инструкции и советы, мы гарантируем вашу безопасность.</p>
        </li>
        <li class="advantages-item">
            <img src="images/graphic.png" alt="graphic">
            <h3>Карьерный рост</h3>
            <p>Проявите себя. Все инициативные, трудолюбивые и порядочные сотрудники растут в должности и зарплате.</p>
        </li>
        <li class="advantages-item">
            <img src="images/hand.png" alt="hand">
            <h3>Помощь от руководства</h3>
            <p>На любом этапе работы и при каждом возникшем вопросе, вы всегда можете обратиться за поддержкой или советом.</p>
        </li>
        <li class="advantages-item">
            <img src="images/bild.png" alt="bild">
            <h3>Работа в вашем городе</h3>
            <p>В зависимости от региона вашего проживания, мы подберем наилучшие вакансии для вас.</p>
        </li>
    </ul>
</section>