<section class="app">
   <h2>Первый раз столкнулись с мессенджером Telegram?
    </h2>
    <p>Выберите вашу платмформу и скачайте приложение. Скачивание и авторизация займут от силы 3 минуты вашего времени.</p>
 <ul class="app-list">
     <li class="app-item"><a href="#"><img src="images/android.jpg" alt="android"></a></li>
     <li class="app-item"><a href="#"><img src="images/apple.jpg" alt="apple"></a></li>
     <li class="app-item"><a href="#"><img src="images/windows.jpg" alt="windows"></a></li>
 </ul>
</section>
