<section class="app">
    <div>
   <h2>Первый раз столкнулись с мессенджером Telegram?
    </h2>
    <p>Выберите вашу платмформу и скачайте приложение. Скачивание и авторизация займут от силы 3 минуты вашего времени.</p>
 <ul class="app-list">
     <li class="app-item"><a href="https://telegram.org/dl/android"><img src="images/android.jpg" alt="android"></a></li>
     <li class="app-item"><a href="https://telegram.org/dl/ios"><img src="images/apple.jpg" alt="apple"></a></li>
     <li class="app-item"><a href="https://telegram.org/dl/desktop"><img src="images/windows.jpg" alt="windows"></a></li>
 </ul></div>
</section>
