<section class="big-money">
    <div class="big-money-wrapper">
    <h1>Зарабатывай
        крупные деньги
        вместе с нами.</h1>
        <p>Лучшее предложение на рынке вакансий по оплате вашего труда. Ознакомьтесь с информацией и получите инструкции, действуя которым, вы заработаете очень хорошие деньги.</p>
        <div class="big-money__buttons">
            
            <a href="#advantages"><button class="big-money__button1">Подробнее</button></a>
            
            <a href="#connect"><button class="big-money__button2">Написать нам   </button></a>
        </div>
    </div>
</section>