<section class="earnings">
    <div class="earnings__left">

    </div>

<div class="earnings__right">
    <h2>Сумма заработка в ваших руках</h2>
<div class="earnings__right__in-monts">
    <p>Сумма вашей зарплаты может достигать очень крупных размеров. В среднем, наш персонал получает 
        <span>250.000 рублей в месяц</span>  и выше.</p>
</div>
<p class="earnings__right__work-hard">Чем больше времени вы будете уделять работе, тем больше вы сможете зарабатывать. Мы всегда идём на встречу и поддерживаем ваши инициативы.</p>
<button class="earnings__right__work-hard-button">Написать нам</button>    
</div>
</section>