<footer class="main-footer">
    <div class="main-footer-wrapper">
       <div class="footer__logo">
        <img src="images/footer-logo.png" alt="Nitro hr logo">
        <span>Nitro Hr</span>
    </div>
    <nav class="footer-nav">
        <ul class="nav-list">
            <li class="nav-item"><a href="#advantages">Ваши возможности</a></li>
            <li class="nav-item"><a href="#vacansy">Вакансии</a></li>
            <li class="nav-item"><a href="#earnings">Оплата труда</a></li>
            <li class="nav-item"><a href="#connect">Связь с нами</a></li>
        </ul>
    </nav> 
    </div>
    
</footer> 