<div class="section-vacansy">
    <div class="vacansy__left-block">
        <h2>Открытые вакансии</h2>
        <p>Места ограничены!</p>
        <p>Основные вакансии перечислены здесь, но есть и другие места, о которых можно узнать напрямую у нас. Напишите и мы обсудим доступные варианты.</p>
        <button>Написать нам</button>
    </div>
    <div class="vacansy__right-block">
        <ul class="right-block__list">
            <li class="right-block__item">
                <img src="images/box.png" alt="box">
                <p>1. Курьер</p>
                <span>Оставляйте посылки, без контакта с клиентами, в удобное вам время и в удобном месте.</span>
            </li>
            <li class="right-block__item">
                <img src="images/car.png" alt="car">
                <p>2. Водитель</p>
                <span>Вы любитель езды, нежели пешеходных прогулок? Не вопрос, зарабатывайте, передвигаясь на своём авто.</span>
            </li>
            <li class="right-block__item">
                <img src="images/operator.png" alt="operator">
                <p>3. Кадровик</p>
                <span>Проводите собеседования, работайте с персоналом и зарабатывайте не выходя из дома.</span>
            </li>
            <li class="right-block__item">
                <img src="images/screem.png" alt="screem">
                <p>4. Промоутер</p>
                <span>Расклеивайте листовки, рисуйте трафареты, рассылайте сообщения и проводите прочие приёмы для рекламы.</span>
            </li>
        </ul>
    </div>
</div>