<section class="write-us">
    <div class="telegramm">
    <h2>Напишите в Telegram</h2>
        <p>В телеграмме наша переписка защищена от прослушивания</p>
        <div class="write-mail">
            @ourlogintowork
        </div>
        <button>Написать</button>
    </div>
    <div class="Jabber">
        <h2>Jabber ( для опытных )</h2>
           
            <div class="write-copy">
                ourlogintowork@xmpp.jp
            </div>
            <button>Копировать</button>
        </div>
</section>