<section class="write-us">
    <div class="telegramm">
    <h2>Напишите в Telegram</h2>
        <p>В телеграме наша переписка защищена
            от прослушивания.</p>
            <div class="telegramm-wraper">
                <div class="write-mail">
            <p>@ourlogintowork</p>
            
        </div>
        <button>Написать</button>
            </div>
        
    </div>
    <div class="Jabber">
        <h2>Jabber ( для опытных )</h2>
        <div class="Jabber-wraper telegramm-wraper">
            <div class="write-copy">
                <p>ourlogintowork@xmpp.jp</p>
                
            </div>
            <button>Копировать</button>
            </div>
        </div>
</section>