@media (max-width:1400px){
    .vacansy__left-block {
        padding-left: 10.2%;
    } 

}
@media  (max-width:1400px){
    .connect h2,
     .app h2,
      .telegramm,
       .Jabber,
        .connect p,
         .app p,
         .app-list{
        margin-left: 100px;
        }
        .main-header{
            position: absolute;
            left:0;
            margin-left:50px;
         }
        .header-content, .main-footer-wrapper{
            width: 900px;
        }
        .advantages{
            width: 1000px;

        }
        .advantages-list{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .advantages-item{
            margin-left: 100px;
        }
        .advantages-item:nth-child(4){
            margin-right:0px;
            margin-left: 140px;
        }
        .right-block__item p{
            margin-top: 0;
        }
        .right-block__item span{
            display: block;
            width: 300px;
        }
        .right-block__item:nth-child(1) span, .right-block__item:nth-child(2) span {
            width: 300px;
        }
        .vacansy__left-block {
         padding-left: 5%;
        } 
        .earnings__left{
  
            background-position-y: 350px;
        }
  
    }
//     @media (min-width: 768px) and (max-width:1000px){
//         .main-header{
//             position: absolute;
//             left:0;
//             margin-left:50px;
            
//          }
//          .header-content, .main-footer-wrapper{
//             flex-direction: column;
//             justify-content: space-between;
//          }
//  .nav-list{
//      width: 680px;
//      max-width: 680px;
//  }
//  .advantages{
//     width: 768px;
//     margin: 0 auto;

// }
// .advantages-list{
//     margin-top: 50px;
//     margin-bottom: 50px;
// }
// .advantages-item{
//     margin-left: 100px;
// }
// .advantages-item:nth-child(4){
//     margin-right:0px;
//     margin-left: 100px;
// }
// .big-money h1{

//     margin-left: 10.5%;
// }
// .big-money p{

//     margin-left: 10.5%;

// }
// .big-money__buttons{

//    margin-left: 10.5%; 
// }
// .right-block__item p{
//     margin-top: 0;
// }
// .right-block__firs-item, .vacansy__left-block h2{
//     margin-top: 35px;
// }
// .earnings__left{
//     display: none;
// }
// .connect h2,
// .app h2,
//  .telegramm,
//   .Jabber,
//    .connect p,
//     .app p,
//     .app-list{
//    margin-left: 30px;
//    }
// .telegramm-wraper{
//     flex-wrap: wrap;
   
// }
// .main-footer-wrapper{
//     width: 768px;
// }
// .vacansy__left-block {
//     padding-left: 3%;

//    } 
//    .vacansy__left-block h2{
//        font-size: 26px;
//        width: 300px;   
//    }
//    .vacansy__left-block p{
//     font-size: 26px;
//     width: 270px;   
// }
//    .vacansy__left-block__title, .vacansy__left-block__vacansy{
//           width: 300px;

//    }
//    .right-block__item span{
//     display: block;
//     width: 200px;
// }
// .right-block__item:nth-child(1) span, .right-block__item:nth-child(2) span {
//     width: 200px;
// }
// .header__logo, .header-nav, .header-content{
//     max-width: 700px;
// }
// .footer-nav, .footer__logo{
//     padding-bottom: 100px;
//     margin-left: 5%;
    
// }
// .footer-nav{
// margin-top: 0;
// }
// .write-us{
//     padding-bottom: 100px;
// }
//     }

    @media (min-width: 0px) and (max-width:1000px){
        .main-header{
            position: absolute;
            left:0;
            margin-left: 10.5%;
            
         }
         .header__logo img{
             width: 30px;
             height: auto;
             
         }
         .header__logo span{
             font-size: 18px;
             margin: 0 0 0 18px;
             bottom: 10px;
             
         }
         .header-content, .main-footer-wrapper{
            flex-direction: column;
            justify-content: space-between;
         }
 .nav-list{
     width: 290px;
     max-width: 290px;
     flex-direction: column;
 }
 .header-nav{
    width: 290px;
    max-width: 290px;
 }
 .nav-item{
     margin-top: 7px;
 }
 .header-content, .header-nav, .header__logo {
    max-width: 290px;
}
.big-money{

    min-height: 590px;
    
}
.big-money-wrapper{
    width: 320px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    max-width: 1920px;
    margin: 0 auto;
  
    
}
.big-money__buttons{
    display: flex;
    flex-direction: column;
   margin-left: 5%; 

}

.big-money .big-money__button2{
 margin-top: 25px;
    margin-left: 0px;
}
 .big-money h1{
    width: 290px;
    font-size: 33px;
    line-height: 36px;
    margin-left: 10.5%;

    margin-top: 8px;
}
.big-money p{
    width: 290px;
    margin-left: 10.5%;
  
    font-size: 12px;
    line-height: 20px;
    margin-top: 40px;
}
.big-money__buttons{
    margin-top: 33px;
    width: 320px;
   margin-left: 20%; 

}
.big-money button {
   width: 145px;
    height: 35px; 
    font-size: 12px;
}
.big-money .big-money__button2 {
    margin-top: 20px;
    margin-left: 0;
}
 .advantages{
    width: 290px;
    margin: 0 auto;

}
.advantages-item img{
    width: 45px;
    height: auto;
    margin-top: 15px;
    margin-left: 5px;
}
.advantages-item:not(:first-child) img{
    margin-top: 28px;
}
.advantages-list{
    margin-top: 50px;
    margin-bottom: 50px;
}
.advantages-item{
    margin-left: 0px;
}
.advantages-item:nth-child(4){
    margin-right:0px;
    margin-left: 0px;
}
.advantages-item h3{
    font-size: 16px;
    margin-left: 7px;
    margin-top: 40px;
}
.advantages-item p {
    width: 250px;
    margin-top: 20px;
    margin-left: 7px;
    font-size: 12px;
    line-height: 28px;
}

.right-block__item p{
    margin-top: 0;
}
.right-block__firs-item, .vacansy__left-block h2{
    margin-top: 35px;
}
.earnings__left{
    display: none;
}
.section-vacansy{
    flex-direction: column;
}
.vacansy__left-block{
    background-image: url(../images/vacansy_back.jpg);
    background-repeat: no-repeat;
    height: 1080px;
    width: 100%;
    background-size: cover;
    padding-left: 20.2%;
    
}
.vacansy__left-block div, .vacansy__right-block {
    width: 290px;
    margin: 0 auto;
}

.vacansy__left-block{
    padding-left: 3%;
    height: 470px;
    

   } 
   .vacansy__left-block h2{
       font-size: 34px;
       line-height: 38px;
       width: 300px;   
       margin-top: 75px;
       margin-left: 20px;
   }
   .vacansy__left-block__title{
       font-size: 12px;
       margin-top: 32px;
       margin-left: 20px;
       padding: 7px 0 0 17px;
       border-left: 8px solid #fff;
       height: 25px;
   }
.vacansy__left-block__vacansy{
    font-size: 12px; 
    display: block;
    width: 200px;
    margin-left: 22px;
    margin-top: 30px;
    line-height: 20px;
   }
   .vacansy__left-block button{
       width: 150px;
       height: 40px;
       font-size: 12px;
       margin-left: 20px;
       margin-top: 40px;
   }
   .right-block__item:nth-child(1) span, .right-block__item:nth-child(2) span {
    width: 200px;
}
.right-block__item{
    margin-left: 0px;
    margin: 0;
    margin-top: 10px;

}
.right-block__item img{
    width: 100px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.right-block__item div{
margin-top: 40px;
margin-left: 15px;
}

.right-block__item p {
    font-size: 18px;
        margin: 0;
    
}
.right-block__item span {
    font-size: 10px;
    line-height: 22px;
    margin: 0;
    width: 140px!important;
}
.right-block__item:nth-child(2) div{
margin-top: 30px;
}
.right-block__item:nth-child(2) img{
    margin-top: 20px;
    }
    .right-block__item:nth-child(3) div{
        margin-top: 22px;
        }
        .right-block__item:nth-child(3) img{
            margin-top: 15px;
            }
            .right-block__item:nth-child(4) div{
                margin-top: 22px;
                }
                .right-block__item:nth-child(4) img{
                    margin-top: 15px;
                    }
.vacansy__right-block{
    
    min-height: 730px;
}
.earnings{
    width: 290px;
    margin: 0 auto;
    min-height: 460px;
}
.earnings__right{
    padding-top: 60px;
    
    margin-left: 20px;
}
.earnings__right h2{
    font-size: 28px;
    width: 250px;
    margin-left: 5%;
}
.earnings__right__in-monts{
    width: 290px;
    height: 115px;
  
    border-top: 0px ;
    margin-top: 20px;
    margin-left: 5%;
}
.earnings__right__in-monts p:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 60px;
    border-left: 8px solid #f20089;
    left: -5px;
    top: 40px;
}
.earnings__right__in-monts p{
    display: block;
    position: relative;
    padding-top: 45px;
    padding-left: 20px;
    width: 250px;
    font-size: 10px;
    line-height: 18px;

}

.earnings__right__work-hard{
    font-size: 10px;
    line-height: 18px;
    width: 290px;
    margin-left: 4%;
    margin-top: 20px;
    width: 250px;

}
.earnings__right__work-hard-button{
margin: 0;
padding: 0;
margin-top: 38px;
margin-left: 4%;
line-height: normal;
 width: 125px;
 height: 30px;
 font-size: 10px;

}
.connect{
    
    min-height: 350px;
}
.connect div{
    width: 290px;
    margin: 0 auto;
}
.connect h2{
    padding: 0;
    padding-top: 85px;
    font-size: 28px;
    width: 250px;
}
.connect p{
    margin-top: 32px;
    width: 270px;
    font-size: 10px;
    line-height: 18px;
}
.write-us{
    
    min-height: 668px;
    padding-bottom: 0;
}
.telegramm-wraper{
    flex-wrap: wrap;
}
.telegramm{
    width: 290px;
    margin: 0 auto;
    margin-top: 52px;
}
.telegramm h2, .Jabber h2{
    width: 140px;
    font-size: 28px;
    margin-left: 4%;
}
.Jabber{
   
    margin-left: 0;
    width: 290px;
    margin: 0 auto;
    margin-top: 57px;
}
.Jabber h2{
    width: 250px;
}
.dblock{
    display: block;
}
.telegramm p, .Jabber p{
    width: 180px;
    font-size: 10px;
    margin-top: 20px;
    margin-left: 4%;
    line-height: 18px;
   
}
.write-mail, .write-copy{
    width: 215px;
    height: 55px;
    margin-top: 20px;
    margin-left: 5%;
  
}
.write-mail p, .write-copy p{
    font-size: 14px;
    line-height: normal;
}

.telegramm-wraper button, .Jabber-wraper button {
    width: 125px;
    height: 55px;
    font-size: 14px;
    margin-top: 20px;
}
.write-copy{
    margin-top: 30px;
    width: 260px;
}
.write-copy p{
    font-size: 14px;
}
// .telegramm, .Jabber {
//     margin-left: 5%;
// }
.write-mail p, .write-copy p{
    padding-left: 25px;
}

.write-mail p:after, .write-copy p:after{
  background-size: 40%;
}
.write-mail p:after{
    right: -20px;
    top: 0px;
}
.write-copy p:after{
    right: -65px;
    top: 0px;
}
.telegramm-wraper{
    flex-direction: column;
}
.telegramm-wraper button{
     
    margin-left: 5%;
 
}
.Jabber-wraper button{
    margin-top: 18px;
}
.app {
    min-height: 290px;

}
.app div{
    min-height: 290px;
    width: 290px;
    margin: 0 auto;
}
.app p{
    width: 290px;
    font-size: 10px;
    line-height: 18px;
    margin-top: 20px;
}
.app-list{
    margin-left: 0;
}
.app-item img{
    margin-top: 0;
    width: 30px;
    height: auto;
}
.app-item{
    margin-left: 10px;
}
.app-list{
    margin-left: 25px;
}
.connect h2,
.app h2,
   .connect p,
    .app p{
   margin-left: 30px;
   }
.app h2{
    width: 250px;
    padding: 65px 0 0 0;
    font-size: 12px;
}
.main-footer-wrapper, .footer-nav{
    width: 290px;
}

   .right-block__item span{
    display: block;
    width: 200px;
}


.footer-nav, .footer__logo{
    padding-bottom: 100px;
    margin-left: 5%;
    
}
.footer-nav{
margin-top: 0;
}
.footer__logo {
    margin-top: 40px;
    padding-bottom: 0;
}
.footer__logo img{

             width: 30px;
             height: auto;
         }
         .footer__logo span{
             font-size: 18px;
             margin: 0 0 0 5px;
             bottom: 10px;
             
         }
         .footer-nav{
             display: none;
         }

    }
    .main-footer{
        min-height: 125px;
    }
@media(max-width: 1000px){
    .header-nav{
        display: none;
    }
}