@import 'vars';
@import 'fonts';
@import 'global';


//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------

.main-header{
   position: absolute;
   left:50%; margin-left:-565px;
}
.header-content{
  width: 1140px;
  
  margin-top: 60px; 
  display: flex;
  justify-content: space-between;
}

.header__logo span{
    position: relative;
    bottom: 15px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 23px;
    color: #ffffff;
    
}

.nav-list{
    width: 610px;
    display: flex;
    font-size: 18px;
    margin-top: 40px;
    justify-content: space-between;
}
.nav-list a{
    color: #ffffff;   
}
.nav-list a:hover{
    border-bottom: 1px solid #ffffff;
}
.big-money{
    padding-top: 150px;
    background-image: url(../images/background-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1080px;
    color: #ffffff;
}
.big-money h1{
    font-size: 60px;
    line-height: 72px;
    width: 510px;
    margin-top: 160px;
    margin-left: 20.5%;
}
.big-money p{
    width: 610px;
    font-size: 21px;
    line-height: 36px;
    margin-left: 20.5%;
    margin-top: 65px;
}
.big-money__buttons{
    margin-top: 75px;
   margin-left: 20.5%; 
   font-size: 21px;
    line-height: 36px;
}
.big-money  button{
    width: 263px;
    height: 66px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
}
.big-money  .big-money__button1{
background-color: #ffffff;
color: #000;
}
.big-money .big-money__button2{
    background-color: transparent;
    border: 2px solid #ffffff;
    margin-left: 25px;
}
.advantages{
    min-height: 900px;
    width: 1140px;
    margin: 0 auto;
}
.advantages-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 180px;
    margin-left: 10px;
}
.advantages-item:nth-child(1), .advantages-item:nth-child(4){
    margin-right: 40px;
}
.advantages-item:nth-child(2), .advantages-item:nth-child(5){
    margin-right: 40px;
}
.advantages-item img{
    margin-top: 50px;
    
}
.advantages-item h3{
    margin-top: 50px;
    font-size: 24px;
}
.advantages-item p{
    width: 350px;
    margin-top: 40px;
    font-size: 18px;
    line-height: 36px;
}
.section-vacansy{
    min-height: 1080px;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #a100f2;
    display: flex;
}
.vacansy__left-block{
    background-image: url(../images/vacansy_back.jpg);
    background-repeat: no-repeat;
    height: 1080px;
    width: 50.5%;
    
}
.vacansy__left-block h2{
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    width: 300px;
    margin-left: 390px;
    margin-top: 220px;
}
.vacansy__left-block__title{
    margin-left: 390px;
    width: 263px;
    border-left: 13px solid #ffffff;
    height: 47px;
    margin-top: 60px;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
}
.vacansy__left-block__vacansy{
    font-size: 21px;
    font-weight: 400;
    color: #ffffff;  
    width: 330px;
    margin-left: 390px;
    margin-top: 45px;
    line-height: 36px;
}
.vacansy__left-block button{
    margin-left: 390px;
    margin-top: 77px;
    border-radius: 5px;
    width: 263px;
    height: 66px;
    color: #ffffff; 
    background-color: transparent;
    border: 2px solid #ffffff;
    line-height: 36px;
    font-size: 21px;
    font-weight: 400;
}
.right-block__item{
    display: flex;
    color: #ffffff;
    margin-top: 25px;
    margin-left: -85px;
}
.right-block__firs-item{ 
    margin-top: 165px;
}
.right-block__item p{
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 25px;
    margin-left: 30px;
}
.right-block__item span{
    display: block;
    width: 500px;
    margin-top: 15px;
    margin-left: 32px;
    line-height: 36px;
    font-size: 18px;
}
.right-block__item:nth-child(1) span,
.right-block__item:nth-child(2) span{
    width: 450px;
}
.earnings{
    min-height: 1080px;
    max-width: 1920px;
    margin: 0 auto;
  
    display: flex;
}
.earnings__left{
    background-image: url(../images/money.jpg);
    background-repeat: no-repeat;
    background-position-y: 260px;
    height: 1080px;
    width: 42.5%;
    margin-left: 40px;
   
}
.earnings__right{
    padding-top: 190px;
}
.earnings__right h2{
    font-size: 60px;
    width: 550px;
    margin-left: 125px;
}
.earnings__right__in-monts{
    width: 555px;
    height: 200px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    
    
    margin-top: 77px;
    margin-left: 125px;
}
.earnings__right__in-monts p{
    display: block;
    position: relative;
    padding-top: 50px;
    padding-left: 45px;
    
    font-size: 21px;
    line-height: 36px;
}
.earnings__right__in-monts p:before{
    position: absolute;
    content: "";
    width: 10px;
    height: 125px;
    border-left: 13px solid #f20089;
    left: 0;
    bottom: -10px;
}
.earnings__right__in-monts p span{
background-color: #fdd9ed;
font-weight: bold;
}
.earnings__right__work-hard{
    font-size: 21px;
    line-height: 36px;
    width: 550px;
    margin-left: 125px;
    margin-top: 50px;
}
.earnings__right__work-hard-button{
    margin-left: 125px;
     margin-top: 75px;
    border-radius: 5px;
    width: 263px;
    height: 66px;
    color: #ffffff; 
    background-color: #f20089;
    border: none;
    line-height: 36px;
    font-size: 21px;
    font-weight: 400;
}
.connect{
    min-height: 695px;
    max-width: 1920px;
    margin: 0 auto;
    color: #ffffff;
    background-color: #a100f2;
}
.connect h2{
font-size: 60px;
margin-left: 390px;
padding-top: 170px;
}
.connect p{
font-size: 21px;
line-height: 36px;
width: 700px;
margin-left: 390px;
margin-top: 85px;
}
.write-us{
    min-height: 930px;
    background-color: #8900ce;
    border-top: 1px solid #7500af;
    border-bottom: 1px solid #7500af;
    color: #ffffff;
}
.telegramm{
   margin-top: 120px;
   margin-left: 390px;
}
.Jabber{
   margin-top: 80px;
    margin-left: 390px; 
}
.telegramm h2, .Jabber h2{
    font-size: 60px;
}
.telegramm p, .Jabber p{
    font-size: 21px;
    line-height:  36px;
    width: 380px;
    margin-top: 40px;
}
.write-mail, .write-copy{
    width: 455px;
    margin-top: 54px;
    height: 110px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    
}
.write-copy{
    width: 555px;
    margin-top: 60px;
    height: 110px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    
}
.telegramm-wraper, .telegramm-wraper{
  display: flex;  
}
.write-mail p, .write-copy p{
    position: relative;
    font-size: 30px;
    margin-top: 35px;
    padding-left: 65px;
}
.write-mail p:after, .write-copy p:after{
    position: absolute;
    content: "";
    width: 50px;
    height: 40px;
    right: -7px;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
}
.write-copy p:after{
    right: -110px;
}
.telegramm-wraper button{
    width: 260px;
    height: 110px;
    border-radius: 5px;
    margin-top: 54px;
    margin-left: 30px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 30px;
}
.Jabber-wraper button{
    margin-top: 60px;
}


// -----------------------------Media

@import 'media'